/* @import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap"); */

body {
  font-family: "Zen Maru Gothic", Arial, Helvetica, sans-serif;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #bcaaa4;
  padding: 10px 20px;
  margin-bottom: 15px;
}

.brand-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.nav-links-container {
  display: flex;
  align-items: center;
  margin-left: auto; /* pushes all the way to the right */
}

.logo img {
  display: flex;
  height: 55px;
  min-width: 55px;
  max-width: 100%;
  border: 2px solid #5e4b45;
  margin-top: 4px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 2px;
}

.brand-name {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 0 20px;
  padding-left: 20px;
  border: #5e4b45 2px solid;
  padding-right: 18px;
  /* background-color: #faf2e7; */
  padding-top: 5px;
  padding-bottom: 5px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* makes horizontal */
  /* justify-content: center; */
}

nav ul li a {
  display: block;
  padding: 14px 20px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 40px;
  margin-right: 20px;
  color: #333;
  text-decoration: none;
  font-size: 18px;
  border-radius: 6px;
}

nav ul li a:hover {
  background: #ffe4e1;
}

.nav-btn {
  background-color: antiquewhite;
  padding: 10px 20px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 10px;
  border-radius: 5px;
}

.nav-btn:hover {
  background-color: #ffe4e1;
}

/* Responsiveness for the Navbar section for mobile devices */
.menu-toggle {
  display: none;
  font-size: 26px;
  color: #333;
  cursor: pointer;
}

/* for screens 768px and below */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-toggle {
    display: block;
    margin-left: auto;
    margin-right: 10px;
  }

  .nav-links-container {
    display: none;
    width: 100%;
  }

  .nav-links-container.active {
    display: block;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul li {
    text-align: center;
    width: 100%;
  }

  nav ul li a,
  .nav-btn {
    display: block;
    width: 100%;
    padding: 14px;
  }
}

/* Hero Section */
.hero {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.hero-img {
  width: 100%;
  max-height: 800px;
  object-fit: cover;
  /* border: 4px solid whitesmoke; */
}

.hero-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: antiquewhite;
  /* font-family: 'Georgia'; */
  font-family: "Lily Script One", system-ui;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.hero-btn {
  background-color: antiquewhite;
  padding: 15px 20px;
  font-size: 15px;
  margin-top: 60px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 10px;
  border-radius: 5px;
}
.hero-btn:hover {
  background-color: #ffe4e1;
}

/* Responsiveness for the hero section so it doesn't disappear on mobile */
@media (max-width: 768px) {
  .hero-img {
    max-height: 350px;
  }

  .hero-overlay {
    font-size: 22px;
    padding: 0 20px;
  }

  .hero-btn {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .hero-img {
    max-height: 250px;
  }

  .hero-overlay {
    font-size: 18px;
  }

  .hero-btn {
    font-size: 13px;
    padding: 6px 14px;
  }
}

/* Information Feature Card section */
.container {
  max-width: none;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
  font-size: 18px;
  padding-top: 40px;
}

.container p {
  font-size: 18px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: none;
  margin-top: 40px;
}
/* Individual cards */
.feature-card {
  /* flex: 0 0 calc(20% - 20px); 5 per row minus gap */
  flex: 1 1 220px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  /* width: 300px; */
  box-sizing: border-box;
  text-align: center;
  max-width: 370px;
  min-width: 350px;
  min-height: 450px;
}

.feature-card img {
  position: sticky;
  width: 100%;
  height: 270px;
  background-color: #ddd;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}
.feature-card h3 {
  font-size: 20px;
  margin: 10px 0 8px;
  color: #042b53;
}
.feature-card p {
  font-size: 16px;
  color: #555;
}

/* Carousel Section */
.carousel-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  background-color: whitesmoke;

  position: relative;
  max-width: 100%;
  height: 500px;
  overflow: hidden;
  background: #f9f9f9;
}

.carousel-card {
  width: 95%;
  max-width: 88%;
  max-height: 98%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
  position: relative;
}

.carousel {
  position: relative;
}

.carousel-slide {
  display: none;
  position: relative;
  text-align: center;
}

.carousel-slide.active {
  display: block;
}

.carousel-slide img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
  filter: brightness(0.95);
}

.carousel-text {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.3);
  padding: 20px 30px;
  border-radius: 8px;
}

.carousel-text h2 {
  font-size: 2rem;
  margin: 0;
}

.carousel-text p {
  margin-top: 8px;
  font-size: 1rem;
}

/* Navigation Buttons for carousel */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 12px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: background 0.3s;
}

.prev:hover,
.next:hover {
  background: rgba(0, 0, 0, 0.6);
}

.prev {
  left: 20px;
}
.next {
  right: 20px;
}

@media (max-width: 768px) {
  .carousel-text {
    font-size: 0.9rem;
    bottom: 20px;
    padding: 10px 20px;
  }
  .carousel-text h2 {
    font-size: 1.5rem;
  }
}

/* Footer Section */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #bcaaa4;
  padding: 10px 20px;
}
.social-icons-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social-icons-container ul li {
  /* spaces out icons */
  margin-left: 15px;
}

.social-icons-container ul li a {
  color: #333;
  font-size: 18px;
  transition: color 0.3s ease;
}

.social-icons-container ul li a:hover {
  color: #ffe4e1;
}

/* Responsiveness for the Footer Section for mobile devices */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .footer .brand-container {
    justify-content: center;
    padding-left: 0;
  }

  .footer .social-icons-container ul {
    justify-content: center;
  }

  .footer .copyright p {
    font-size: 14px;
  }
}

/* Contact Page */
.contact-banner1 img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  /* border: 4px solid whitesmoke; */
  /* border-radius: 4px; */
}

.contact-details {
  text-align: center;
  padding: 20px 20px;
  background-color: #fff;
}
.contact-details h3 {
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}
.contact-details p {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
}

.opening-hours {
  text-align: center;
  padding: 20px 20px;
  background-color: #fff;
  margin-bottom: 40px;
}
.opening-hours h3 {
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}
.opening-hours p {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
}

/*contact form*/
.contact-form-section {
  background-color: #f4f4f4;
  text-align: center;
  padding: 40px 20px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;

  margin: 0 auto; /*centers in middle*/
  gap: 15px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 4px; /*round corners a bit*/
  font-size: 14px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: antiquewhite;
  color: #333;
  border: 2px solid;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}
.contact-form button:hover {
  background-color: #ffe4e1;
}

/* Map Section */
.map-section {
  text-align: center;
  padding: 40px 20px;
  background-color: #fff;
}

.map-section h3 {
  color: #333;
  font-size: 22px;
  margin-bottom: 20px;
  font-family: "Zen Maru Gothic", sans-serif;
}

.map-container {
  position: relative;
  max-width: 800px;
  width: 80%;
  height: 400px;
  margin: 0 auto 30px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  aspect-ratio: 16 / 9;
  justify-content: center;
  /* padding: 40px 20px 0px; */
  background-color: rgb(240, 232, 223);
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Menu Section */
.menu-banner1 img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  /* border: 4px solid whitesmoke;
    border-radius: 4px; */
}

.menu-section {
  padding: 10px 20px 40px;
  background-color: #f9f9f9;
  text-align: center;
}

.menu-section .container {
  /* max-width: 1200px; */
  max-width: none;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border: 2px solid #333;
  margin-top: 10px;
}

.menu-section .container h2 {
  /* max-width: 1200px; */
  font-size: 40px;
}

.menu-details {
  text-align: center;
  padding: 20px 20px;
  background-color: #fff;
}
.menu-details h3 {
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  font-size: 32px;
}

.bold-underline {
  font-weight: bold;
  text-decoration: underline;
}

.spaced {
  margin-bottom: 20px;
}

.menu-details p {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
}
.menucards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 30px;
}
.menufeature-card {
  flex: 1 1 250px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 200px;
  max-height: 200px;

  text-align: center;
  padding: 15px 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* aspect-ratio: 4 / 3; */

  /* padding-top: 30px;
    padding-bottom: 10px; */
}
.menufeature-card img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  display: block;
}

.subheading {
  margin-bottom: 2px;
  color: #444;
  font-size: 16px;
  line-height: 1;
}
